<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <%- include('validationErrors') %>
    <ul>
        <% if (results.length) { %>
            <% results.forEach(result => { %>
                <li><%= result.id %>. <%= result.username %></li>
                <% }) %>
            <% } else { %>
                <div>No matching user found.</div>
                <% }  %>
    </ul>
    <a href="/">Back to home page</a>
</body>
</html>